@font-face {
  font-family: MavenProRegular;
  src: url('renderer/assets/fonts/MavenPro/MavenPro-Regular.ttf');
}

@font-face {
  font-family: MavenProMedium;
  src: url('renderer/assets/fonts/MavenPro/MavenPro-Medium.ttf');
}

@font-face {
  font-family: Rubix;
  src: url('renderer/assets/fonts/Rubik/Rubik-Regular.ttf');
}

@font-face {
  font-family: RubixMedium;
  src: url('renderer/assets/fonts/Rubik/Rubik-Medium.ttf');
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
}
